@charset "utf-8";
/* @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); */
/* mobile_layout3.css 덮어쓰기 */
#calendar_w .calendar_product_list .week_day_table td.Check-out a .Check-in-txt,
#calendar_w .calendar_product_list .week_day_table td.Check-in a .Check-in-txt
	{position: relative; top: -5px;}

body {font-family: "Nanum Gothic", sans-serif; }
body, a {color: #303030;}

#bs-wrap {	
	width: 100%; position: relative; letter-spacing: -0.2px;
	
	font-size: 100%;
    font: inherit;
    vertical-align: baseline;
	line-height: 1.5;
}

* {-webkit-tap-highlight-color:rgba(0,0,0,0);}


/*--- bxSlider 재정의 ---*/
.bx-wrapper {position: relative; margin: 0 auto; border: none; box-shadow: none;}
.bx-wrapper .bx-viewport {border: none; box-shadow: none; left: 0; background: none;}
.bx-controls {z-index: 10;}


/* 공통 Css */
.ftfm-nt {font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Nanum Gothic", sans-serif; letter-spacing: -0.5px;}
.ftfm-mg {font-family: "Malgun Gothic", "Apple SD Gothic Neo", "Noto Sans KR", sans-serif; letter-spacing: -1px;}


.header, .container, .footer {position: relative;}
.header, .footer {line-height: 1.3; font-family: "Nanum Gothic", "Malgun Gothic", sans-serif;}
.container:before, .container:after {content: ""; display: table;}
.container:after {clear: both;}

.thColor {color: #1e3a5a;}
.thColor2 {color: #44a8ff;}
.f-bd {font-weight: bold;}

.mg-, .mgl, .mg-l {position: relative; display: inline-block;}
.sun {border: none; border-bottom: 1px solid #b4b4b4;}


.faqWrap {position: absolute; width: 640px; border: 2px solid #ecb84a; border-top: 0; left: 50%; margin-left: -320px; top: 50%; margin-top: -313px; background: #fff; letter-spacing: -2px;}
.faqWrap {font-family: "Nanum Gothic", sans-serif;}
.faqWrap h2 {background: #ecb84a; color: #fff; font-size: 23px; width: 100%; height: 62px; text-align: center; padding-top: 21px; font-family: "Nanum Gothic", sans-serif; letter-spacing: -0.5px; box-sizing: border-box; line-height: 1;}
.faqWrap h2 .s1 {color: #f6ff00;}
.faqWrap h2 .i-x {position: absolute; top: 16px; right: 16px; }
.faqWrap .ul1 {overflow-y: auto; height: 531px;}
.faqWrap .ul1 > li {border-bottom: 1px solid #c8c8c8;}
.faqWrap .ul1 > li > div {position: relative; line-height: 1.5; padding: 15px 33px 15px 37px; word-break: keep-all;}
.faqWrap .ul1 > li .d1 {color: #2f2f2f; font-size: 19px; cursor: pointer;}
.faqWrap .ul1 > li .d1.on {color: #ecb84a;}
.faqWrap .ul1 > li .d1:hover {color: #ecb84a;}
.faqWrap .ul1 > li .d1 .s-tit {display: inline-block; position: relative;}
.faqWrap .ul1 > li .d1.on .s-tit:after {content: ""; position: absolute; bottom: 0; left: 0; display: inline-block; width: 100%; height: 1px; background: #ecb84a;}
.faqWrap .ul1 > li .d2 {color: #545353; font-size: 18px; background: #f1f1f1; padding-left: 48px; display: none;}
.faqWrap .ul1 > li .d2 {border-top: 1px solid #c8c8c8;}
.faqWrap .ul1 > li .d1:before, .faqWrap .d2:before {content: "Q."; position: absolute; left: 15px;}
.faqWrap .ul1 > li .d2:before {content: "A"; color: #fff; background: #ecb84a; border-radius: 50%; width: 24px; height: 24px; text-align: center; display: inline-block; font-size: 16px; text-indent: -2px; box-sizing: border-box;}
.faqWrap .ul1 > li .s-dArr {position: absolute; top: 20px; right: 18px;	 display: inline-block; width: 11px; height: 11px; border: 2px solid #858585; border-top: 0; border-right: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


.header {z-index: 60;}
.header .hd-area {position: relative; height: 100px;}
.header .hd-area .glb {position: fixed; height: 100px; z-index: 1; top: 0px; width: 100%; background: #fff; border-bottom: 0; box-shadow: 0 0px 12px 3px rgba(0,0,0,.3);}

.rWing {position: fixed; top: 220px; z-index: 9; left: 50%; margin-left: 520px;}
@media (max-width: 1310px) {
	.rWing {right: 10px; left: auto; margin-left: 0;}
}

.footer {margin-top: 80px;}
@media (max-width: 979px) {
	.container {padding-left: 2%; padding-right: 2%;}
	.container-f {width: 100%;}
	/*.header .hd-area {height: 166px;}*/
	.header .hd-area {position: relative; height: 58px;}
	.header .hd-area .glb {height: 58px;}
	.header.on .hd-area .glb {box-shadow: 0 1px 8px 2px rgba(0,0,0,.4);}
	
	.header .hd-area .gLogo {position: absolute; display: inline-block; height: 100%; left: 10px; background: #0d0d0d; line-height: 53px; padding: 0 10px;}
	.header .hd-area .gLogo > img {position: relative; width: 100px;}
	.header .navTab-m {position: absolute; background: none; border: 0; top: 50%; margin-top: -17px; right: 9px; width: 36px; height: 34px; background: #1e3a5a; border-radius: 50%;}
	.header .navTab-m > span {display: block; width: 20px; height: 3px; background: #eaeaea; border-radius: 3px; margin: 4px auto;}
	.header .navTab-m.active > span {
		position: absolute; top: 12px; left: 7px; width: 22px;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.header .navTab-m.active > span:nth-child(1) {}
	.header .navTab-m.active > span:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.gNav-m {display: none; position: absolute; top: 58px; right: 0; background: #363032;}
	.gNav-m.active {display: block;}
	.gNav-m .gnb-m > li > a {display: block; position: relative; color: #fff; font-size: 13px; padding: 14px 32px; text-align: right;}
	.gNav-m .gnb-m > li > a:hover {background: #6F9FD5; color: #fff;}
	.gNav-m .gnb-m > li:last-child a {background: #6F9FD5; color: #fff;}
	/*.header.on .gNav-m {top: 58px;}*/
	
	.header .d1 {position: absolute; right: 200px; top: 28px;}
	.header .d1 .mFaq-a {position: absolute; left: 38px; top: -13px; display: block; width: 96px; box-sizing: border-box; color:#fff; border:1px solid #fff; padding: 6px 0px 5px;  font-size: 13px; font-weight: bold; text-align: center; text-indent: -2px;}
	.header .d1 .mFaq-a img {width: 16px; margin-right: 2px; position: relative; top: -1px;}
		
	
	.footer {background: #1e3a5a; padding: 15px 0 25px; font-size: 14px;}
	.footer .container {position: relative; margin: 0 auto;}
	.footer .container div[class*=flt-] {position: relative; color: #fff;}
	.footer .flt-box {word-break: keep-all; letter-spacing: -1px;}
	.footer .f_menu {margin-bottom: 15px;}
	.footer .f_menu > li {position: relative; display: inline-block; margin-left: 20px;}
	.footer .f_menu > li:before {position: absolute; top: 3px; left: -10px; content: ""; display: inline-block; width: 1px; height: 14px; background: #cdcdcd;}
	.footer .f_menu > li:first-child {margin-left: 0px;}
	.footer .f_menu > li:first-child:before {display: none;}
	.footer .f_menu > li > a {color: #fff;}
	.footer .flt-1 {width: 90px; margin-bottom: 10px;}
	.footer .flt-1 > img {width: 100%;}
	.footer .flt-2 address {line-height: 1.5;}
	.footer .flt-2 address .i-l {position: relative; display: block;}
	.footer .flt-3 {font-weight: 700; margin-bottom: 5px;}
	
	
	.layer-pop-bg {position: fixed; z-index: 200; top: 0; left: 0; width: 100%; height: 100%; background: url(http://img.go.co.kr/black_rgba58.png) repeat;}
	.privacy-bg, .privacy-bg .cm-s {display: none; color: #424242;}
	.privacy-bg .cm-s {position: absolute; width: 350px; height: 370px; position: absolute; top: 50%; margin-top: -185px; left: 50%; margin-left: -175px; background: #fff;}
	.privacy-bg .cm-s .d-top {height: 36px; background: #ad825d; color: #FFF; font-size: 15px;}
	.privacy-bg .cm-s .d-top strong {display: inline-block; position: relative; top: 8px; left: 10px;}
	.privacy-bg .cm-s .d-top .a-x {position: absolute; display: inline-block; height: 36px; width: 36px; right: 0px; top: 0; background: #ad825d;}
	.privacy-bg .cm-s .d-top .a-x:before, .privacy-bg .cm-s .d-top .a-x:after {background: #fff; height: 20px; left: 18px; top: 8px;}
	.privacy-bg .cm-s .d-cont {height: 334px; overflow: auto; padding: 10px 8px 10px 10px; font-size: 13px; line-height: 1.4; word-break: keep-all; box-sizing: border-box;}
	.privacy-bg .cm-s .tablepri {border: 1px solid #000; width: auto; line-height: 1.5em; margin-top: 10px; letter-spacing: -0.2px;}
	.privacy-bg .cm-s .tablepri th, .privacy-bg .cm-s .tablepri td {padding: 0 5px;}
	.privacy-bg .cm-s .privacy {font-weight: bold;}
	.privacy-bg .cm-s .d-cont .title {display: block; margin-top: 10px;}
	.privacy-bg .cm-s .d-cont .title:first-child {margin-top: 0;}
	.term-warp {}	

	/* 단체예약 문의 팝업 */
/*	#contact-bg {z-index: 51;}*/
	.etc-sec .contact-pop hr {width: 100%;}
	.contact-pop {position: absolute; top: 58px; background: #fff; padding-bottom: 18px; font-size: 14px; z-index: 100; width: 100%; margin-top: 10px;}
	.contact-pop > h2 {color: #fff; font-size: 26px;}
	.contact-pop .p-cf {color: #191919; font-size: 20px;}
	.contact-pop .d-top {position: relative;  text-align: right; font-size: 12px;} 
	.contact-pop .i-chk-bef:before, .contact-pop .i-chk-aft:after {position: relative; content: ""; display: inline-block; width: 8px; height: 11px; background: url(http://img.bscondo.co.kr/m/group/i_chk.png) no-repeat; background-size: 8px; vertical-align: middle;}
	.contact-pop .i-chk-aft:after {margin-right: 0; margin-left: 2px; top: -1px;}
	.contact-pop .a-x {top: 7px; right: 8px; z-index: 1;}
	.contact-pop .a-x:before, .contact-pop .a-x:after {right: 9px; background: #787878;}
	.contact-pop .ul-tb {position: relative; width: 100%; font-family: 'Nanum Gothic', sans-serif;}
	.contact-pop .nece {border-bottom: 1px solid #8e929b;}
	.contact-pop .li-tr {position: relative; padding: 6px 0px; font-size: 0; border-top: 1px solid #dadada; letter-spacing: -0.5px;}
	.contact-pop .li-tr:first-child {border-top: 0;}
	.contact-pop .li-tr > span {position: relative; display: inline-block; font-size: 12.5px; vertical-align: middle;}
	.contact-pop .li-tr > span.ver-t {vertical-align: top; top: 10px;}
	.contact-pop .li-tr .mg- {width: 7px; height: 1px; background: #787878; margin: 0 5px;}
	.contact-pop .li-tr .mg-l {width: 1px; height: 20px; background: #a0a0a0; margin: 0 7px 0 2px; top: 2px;}
	.contact-pop .li-tr hr {margin: 6px auto; border-color: #dadada;}


	.contact-pop .li-tr .s-lbl {width: 66px;}
	.contact-pop .li-tr input, .contact-pop .li-tr select, .contact-pop .li-tr .wd-8 {-webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 0;padding: 0;}
	.contact-pop .li-tr input, .contact-pop .li-tr select {height: 30px; border: 1px solid #787878; font-size: 12.5px;}
	.contact-pop .li-tr select {background: url(http://img.ocean2you.co.kr/renew/group/i_dArr_m.png) no-repeat 114px 11px;}
	.contact-pop .li-tr .wd-1, .contact-pop .li-tr .wd-3, .contact-pop .li-tr .wd-4, .contact-pop .li-tr .wd-7 {text-indent: 3px;}
	.contact-pop .li-tr .wd-2 {text-align: center;}
	.contact-pop .li-tr .wd-1 {width: 135px;}
	.contact-pop .li-tr .wd-2 {width: 58.5px;}
	.contact-pop .li-tr .wd-3 {width: 210px;}
	.contact-pop .li-tr .wd-4 {width: 121px;}
	.contact-pop .li-tr .wd-5, .contact-pop .li-tr .wd-6 {text-align: center; margin-left: 5px;}
	.contact-pop .li-tr .wd-5 {width: 36px;}
	.contact-pop .li-tr .wd-6 {width: 40px;}
	.contact-pop .li-tr .wd-7 {width: 100px; margin-right: 5px;}
	.contact-pop .li-tr .wd-8 {width: 268px; height: 60px; padding: 3px; font-size: 12px; resize: none; border: 1px solid #787878;}

	.contact-pop .li-tr .wd-4 + select {top: 0px; position: relative; margin-left: 10px;}
	.contact-pop .li-tr .wd-5 + span, .contact-pop .li-tr .wd-6 + span {margin-left: 3px; margin-right: 5px;}

	.contact-pop .area-btn {margin-top: 10px; padding: 0 10px;}
	.contact-pop .area-btn > a {position: relative; display: block; width: 100%; margin: 0 auto; height: 44px; background: #d49f34; color: #fff; font-size: 15px; text-align: center;}
	.contact-pop .area-btn > a:after {content: ""; display: inline-block; height: 105%; vertical-align: middle;}
	.contact-pop .area-btn > a .ic-rArrow:after {border-color: #fff; width: 7px; height: 7px; top: -1px; left: 6px;}
	
	.contact-pop.type-2 {position: relative; top: 0; text-align: left; width: 100%; left: auto; margin-left: 0;}
}
@media (max-width: 767px) {
	.rWing {display: none;}
}
@media (max-device-width: 320px) {
	.privacy-bg .cm-s {width: 310px; margin-left: -155px;}

	.contact-pop .d-top {padding: 0 5px;}
	.contact-pop .li-tr {letter-spacing: -1px;}
	.contact-pop .li-tr .s-lbl {width: 58px; margin-left: 5px;}
	.contact-pop .li-tr input, .contact-pop .li-tr select {font-size: 12px;}
	.contact-pop .li-tr > span {font-size: 12px;}
	.contact-pop .li-tr .mg-l {margin: 0 5px 0 0px;}
	.contact-pop .li-tr .wd-4 {width: 100px;}
	.contact-pop .li-tr .wd-5, .contact-pop .li-tr .wd-6 {width: 33px; margin-right: 2px;}
	.contact-pop .li-tr .wd-7 {margin-right: 5px;}
	.contact-pop .li-tr .wd-5 + span, .contact-pop .li-tr .wd-6 + span {margin-left: 1px;}
	.contact-pop .li-tr .wd-8 {width: 228px;}
}

@media (min-width: 980px) {
	.header .hd-area .gLogo {position: absolute; left: 30px; display: inline-block; height: 100%; background: #0d0d0d; line-height: 94px; padding: 0 28px;}
	.header .hd-area .gLogo > img {}
	.header .hd-area .gNav {float: right; top: 0px;}
	.header .hd-area .gNav .gnb {text-align: center; float: right;}

	.header .hd-area .gNav .gnb > li > a {display: block; padding: 0 20px; line-height: 100px; font-size: 15px;}
	.header .hd-area .gNav .gnb > li.nth-6 > a {margin-right: 20px;}
	.header .hd-area .gNav .gnb > li {float: left;}
	
	.header .gNav-m {display: none;}
	
	.footer {background: #1e3a5a; padding: 50px 0 55px; font-size: 16px;}
	.footer .container {position: relative; margin: 0 auto;}
	.footer .container div[class*=flt-] {position: relative; color: #fff; float: left;}
	.footer .flt-box {margin-left: 35px; padding-left: 35px;}
	.footer .flt-box:before {content: ""; width: 1px; height: 190px; background: #fff; position: absolute; left: 0; top: 0;}
	.footer .f_menu {margin-bottom: 15px;}
	.footer .f_menu > li {position: relative; display: inline-block; margin-left: 40px;}
	.footer .f_menu > li:before {position: absolute; top: 3px; left: -20px; content: ""; display: inline-block; width: 1px; height: 14px; background: #cdcdcd;}
	.footer .f_menu > li:first-child {margin-left: 0px;}
	.footer .f_menu > li:first-child:before {display: none;}
	.footer .f_menu > li > a {color: #fff;}
	.footer .flt-1 {margin-left: 40px;}
	.footer .flt-2 address {line-height: 1.5;}
	.footer .flt-2 address .i-l {position: relative; display: inline-block; top: 1px; width: 1px; height: 12px; background: #cdcdcd; margin: 0 11px;}
	
	.footer .container div[class^=flt-3] {float: right; margin-right: 40px; text-align: right; font-weight: 700;}
	.footer .container div[class^=flt-3] .mt-1 {display: block; margin-top: 15px;}
}
@media (min-width: 1200px) {
	.container {width: 1200px;}
	
	.header .hd-area .gNav .gnb > li > a {display: block; padding: 0 35px; line-height: 100px; font-size: 20px;}
	.header .hd-area .gNav .gnb > li.nth-6 > a {margin-right: 70px;}
	.header .hd-area .gNav .gnb > li {float: left;}
	
	.header .d1 {position: absolute; right: 584px; top: 32px;}
	.header .d1 .faq-a {display: inline-block; color: #fff; border: 1px solid #fff; font-size: 15px; text-align: center; line-height: 1.1; padding: 5px 8px; word-break: keep-all; font-weight: 300; letter-spacing: -1px;}

	
	/* 단체예약 문의 팝업 */
	.contact-pop {width: 760px; left: 50%; margin-left: -380px; top: 120px; position: absolute; z-index: 100; background: #fff; font-family: "Malgun Gothic", sans-serif;}
	.contact-pop, .contact-pop * {box-sizing: border-box; line-height: 1.3;}
	.contact-pop .d-tit p {position: relative; text-align: center;  color: #fff; font-size: 26px; background: #D49F34; width: 480px; margin: 0 auto; height: 60px; line-height: 54px; top: -10px; letter-spacing: -2px;}
	.contact-pop .d-tit .t-l, .contact-pop .d-tit .t-r {display: inline-block; position: absolute; top: 0; border: 24px solid transparent; border-bottom-width:30px;}
	.contact-pop .d-tit .t-l {border-top: 30px solid #D49F34; left: -48px; border-right: 24px solid #D49F34;}
	.contact-pop .d-tit .t-r {border-top: 30px solid #D49F34; right: -48px; border-left: 24px solid #D49F34;}
	.contact-pop .d-tit .t-l:before, .contact-pop .d-tit .t-r:before {content: ""; position: absolute; top: -40px; display: inline-block; border: 10px solid transparent; border-bottom-color: #b18223; z-index: -1;}
	.contact-pop .d-tit .t-l:before {left: -34px;}
	.contact-pop .d-tit .t-r:before {right: -34px;}
	.contact-pop .a-x {top: 18px; right: 16px; width: 32px; height: 30px;}
	.contact-pop .a-x:before, .contact-pop .a-x:after {width: 38px; height: 2px; background: #8f8f8f; top: 14px; right: -3px;}
	.ie8 .contact-pop .a-x:after {font-size: 26px;}
	.contact-pop .p-cf {color: #191919; font-size: 20px; text-align: center; letter-spacing: -1px; margin-top: 10px; line-height: 20px;}
	.contact-pop .p-cf .pic-chk {position: relative; top: -2px;}
	.contact-pop .d-top {position: relative; width: 660px; margin: 5px auto 0; color: #676767; height: 36px; line-height: 31px; font-size: 14px; text-align: right; letter-spacing: -1px;}
	.contact-pop .i-chk-bef:before, .contact-pop .i-chk-aft:before {content: "*"; display: inline-block; color: #f00; position: relative; top: 2px; font-weight: 700; margin-right: 3px; vertical-align: middle;}
	.contact-pop .i-chk-aft:before {top: -1px; font-size: 14px;}
	.contact-pop .ul-tb {position: relative; width: 660px; margin: 0 auto; font-family: 'Nanum Gothic', sans-serif;}
	.contact-pop .nece {border-bottom: 1px solid #8e929b; border-top: 1px solid #dadada;}
	.contact-pop .li-tr:first-child {border-top: 0;}
	.contact-pop .li-tr {position: relative; padding: 10px 0px; font-size: 0; border-top: 1px solid #dadada; letter-spacing: -0.5px;}
	.contact-pop .li-tr > span {position: relative; display: inline-block; font-size: 16px; font-weight: 700; vertical-align: middle;}
	.contact-pop .li-tr > span.ver-t {vertical-align: top; top: 10px;}
	.contact-pop .li-tr .mg- {width: 10px; height: 1px; background: #787878; margin: 0 6px;}
	.contact-pop .li-tr .mg-l {width: 1px; height: 26px; background: #a0a0a0; margin: 0 18px 0 2px; top: 1px;}
	.contact-pop .li-tr hr {margin: 6px auto; border-color: #dadada;}

	.contact-pop .li-tr .s-lbl {width: 74px; margin-left: 20px;}
	.contact-pop .li-tr .s-lbl:first-child {margin-left: 0;}
	.contact-pop .li-tr .ml-1 {margin-left: 40px;}
	.contact-pop .li-tr input, .contact-pop .li-tr select, .contact-pop .li-tr .wd-8 {-webkit-appearance: none; -moz-appearance: none; appearance: none; -ms-appearance: none; -o-appearance: none; border-radius: 0;}
	.contact-pop .li-tr input, .contact-pop .li-tr select {height: 28px; border: 1px solid #787878; font-size: 16px;}
	.contact-pop .li-tr select::-ms-expand {display: none;}
	.contact-pop .li-tr select {
		outline : none;
		overflow : hidden;
		text-indent : 5px;
		text-overflow : '';
		background: url(http://img.ocean2you.co.kr/renew/group/i_dArr.png) no-repeat 174px 9px;
	}
	.ie8 .contact-pop .li-tr select {background: none;}
	.contact-pop .li-tr .wd-1, .contact-pop .li-tr .wd-3, .contact-pop .li-tr .wd-4, .contact-pop .li-tr .wd-7 {text-indent: 5px;}
	.contact-pop .li-tr .wd-2 {text-align: center;}
	.contact-pop .li-tr .wd-1 {width: 200px;}
	/*.contact-pop .li-tr .wd-1-2 {width: 205px;}*/
	.contact-pop .li-tr .wd-2 {width: 70px;}
	.contact-pop .li-tr .wd-3 {width: 365px;}
	.contact-pop .li-tr .wd-4 {width: 200px;}
	.contact-pop .li-tr .wd-5, .contact-pop .li-tr .wd-6 {text-align: center; margin-left: 12px;}
	.contact-pop .li-tr .wd-5 {width: 58px;}
	.contact-pop .li-tr .wd-6 {width: 64px;}
	.contact-pop .li-tr .wd-7 {width: 204px; margin-right: 8px;}
	.contact-pop .li-tr .wd-8 {width: 564px; height: 50px; padding: 3px; font-size: 12px; resize: none; border: 1px solid #787878;}

	.contact-pop .li-tr .wd-4 + select {top: 0px; position: relative; margin-left: 14px;}
	.contact-pop .li-tr .wd-5 + span, .contact-pop .li-tr .wd-6 + span {margin-left: 8px; margin-right: 20px;}

	.contact-pop .area-btn {margin-top: 12px; padding: 0 10px;}
	.contact-pop .area-btn > a {position: relative; display: block; width: 272px; margin: 0 auto; height: 58px; background: #D49F34; color: #fff; font-size: 18px; text-align: center;}
	.contact-pop .area-btn > a:after {content: ""; display: inline-block; height: 105%; vertical-align: middle;}
	.contact-pop .area-btn > a .ic-rArrow:after {border-color: #fff; width: 9px; height: 9px; top: 1px; left: 32px; margin-right: -10px; border-width: 2px;}
	.contact-pop .d-bottom {background: #8c8c8c; color: #fff; margin-top: 18px; padding: 10px 20px 12px;}
	.contact-pop .d-bottom .p-1 {line-height: 1.3; font-size: 17px;}
	.contact-pop .d-bottom .fl-r {width: 260px; position: relative; top: -4px; display: inline-block; float: right; color: #fff;}
	.contact-pop .d-bottom .fl-r > img {position: relative; top: -1px; width: 24px; margin-right: 8px;}

	.contact-pop.type-2 {position: relative; top: 0; text-align: left; width: 100%; left: auto; margin-left: 0;}
	
	/* 이용약관 팝업 */
	.layer-pop-bg {position: fixed; z-index: 200; top: 0; left: 0; width: 100%; height: 100%; background: url(http://img.go.co.kr/black_rgba58.png) repeat;}
	.privacy-bg, .privacy-bg .cm-s {display: none;}
	.privacy-bg .cm-s {position: absolute; width: 748px; height: 828px; position: absolute; top: 50%; margin-top: -414px; left: 50%; margin-left: -374px; background: #fff;}
	.privacy-bg .cm-s .d-top {height: 50px; background: #ad825d; color: #FFF; font-size: 18px;}
	.privacy-bg .cm-s .d-top strong {display: inline-block; position: relative; top: 12px; left: 15px;}
	.privacy-bg .cm-s .d-top .a-x {position: absolute; display: inline-block; height: 50px; width: 50px; right: 0px; top: 0; }
	.privacy-bg .cm-s .d-top .a-x:before, .privacy-bg .cm-s .d-top .a-x:after {background: #fff; width: 30px; height: 1px; left: 8px; top: 24px;}
	.privacy-bg .cm-s .d-cont {height: 778px; overflow: auto; padding: 15px 12px 15px 15px; font-size: 14px; line-height: 1.5; word-break: keep-all; box-sizing: border-box;}
	.privacy-bg .cm-s .tablepri {border: 1px solid #000; width: auto; line-height: 1.5em; margin-top: 10px; letter-spacing: -0.2px;}
	.privacy-bg .cm-s .tablepri th, .privacy-bg .cm-s .tablepri td {padding: 0 5px;}
	.privacy-bg .cm-s .privacy {font-weight: bold;}
	.privacy-bg .cm-s .d-cont .title {display: block; margin-top: 10px;}
	.privacy-bg .cm-s .d-cont .title:first-child {margin-top: 0;}
	.term-warp {}
}
/*
@media (min-width: 1370px) {
	.header .hd-area .gNav .gnb > li > a {padding: 0 28px; font-size: 20px;}
	.header .hd-area .gNavDep2 {height: 50px;}
	.header .hd-area .gNavDep2 .gnbDep2 > li > a {line-height: 50px; font-size: 17px;}
	
	.header .d1 {position: absolute; right: 956px; top: 29px;}
	.header .d1 .faq-a {display: inline-block; color: #fff; border: 1px solid #fff; font-size: 17px; text-align: center; line-height: 1.1; padding: 5px 8px; word-break: keep-all; font-weight: 300; letter-spacing: -1px;}
}
*/




/* 반응형 block 지정 */
.container, .container-f {position: relative; margin-left: auto; margin-right: auto;}

/* .hide, .show-sm-gte, */
.show-xxs, .show-xs, .show-sm, .show-md, .show-lg {
  display: none !important;
}
.inline-xs {display: block !important;}
@media (max-device-width: 320px) {
	.hidden-xxs {
		display: none !important;
	}
	.show-xxs {
		display: block !important;
	}
}

@media (max-width: 979px) {
	.xs-hidden, .hidden-xs {
		display: none !important;
	}
	.show-xs {
		display: block !important;
	}
	.inline-xs {display: inline-block !important;}
}

/*@media (min-width: 768px) and (max-width: 979px) {
	.hidden-sm {
		display: none !important;
	}
	.show-sm {
		display: block !important;
	}
}*/

@media (min-width: 980px) {
	/* .show-sm-gte {display: none !important;} */
	.hidden-md {
		display: none !important;
	}
	.show-md {
		display: block !important;
	}
}

/*@media (min-width: 1190px) {
	.hidden-lg {
		display: none !important;
	}
	.show-lg {
		display: block !important;
	}
}*/